<div class="card-body bg-gradient-light border-radius-lg m-4 ml-8">
    <%= form_with model: @user do |form| %>
        <div class="mb-3">
            <span class="text-rose m-2 font-weight-bold">  Usuário : <%= @user.email %> </span>
            <label class="form-label"></label>
        </div>
        <div class="mb-3">
            <span class="text-rose m-2 font-weight-bold">  Email : </span>
            <label class="form-label"></label>
            <%= form.text_field :email, class: "bg-light form-control"%>
        </div>
        <div class="mb-3">
            <span class="text-rose m-2 font-weight-bold">  Senha : </span>
            <label class="form-label"></label>
            <%= form.text_area :password, maxlength: 6, disabled: true, class: "bg-light form-control" %>
        </div>
        <div class="mb-3">
            <span class="text-rose m-2 font-weight-bold">  Confirmar senha : </span>
            <label class="form-label"></label>
            <%= form.text_area :password_confirmation, maxlength: 6, disabled: true, class: "bg-light form-control" %>
        </div>
        <div class="container">
            <input type="checkbox" id="pass" name="pass">
            <label for="pass">alterar senha?</label>
        </div>
        <div class="mb-3">
            <%= form.select(:role_id, @roles.collect {|role| [role.username, role.id]}, class: "bg-light form-control", prompt: 'select') %>
        </div>
            <div class="text-center">
            <%= form.submit 'Salvar', class: "btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" %>
            <%= link_to 'Cancelar', users_path, class: "bg-light btn btn-lg btn-outline-primary text-primary btn-lg w-100 mt-4 mb-0" %>
        </div>
    <% end %>
</div>
