<%= form_with model: @comment_son, local: false, :html => {:id => 'comment-form'}  do |f| %>
    <td class="bg-white border-radius-sm">
        <%= f.hidden_field :post_id, value: @comment.post_id %>
        <%= f.hidden_field :comment_id, value: @comment.id %>
        <%= f.text_area :content, maxlength: 255, class: "bg-light form-control"%>
    </td>
    <td>
        <%= f.submit 'Salvar', class:'btn btn-primary' %>
    </td>
<% end %>