<% comments.each do |comment| %>

    <table class="table table-responsive d-flex bg-light border-radius-lg mt-5 align-items-center">
        <tbody id="comment-list">
            <tr class="container" style="font-size: 18px;">
                <td class="bg-gradientlight">
                    <p class="font-weight-bold mb-0"><%= comment.user.email %> : </p>
                </td>
                <td class="bg-white">
                    <p class="font-weight-bold mb-0"><%= comment.content %></p>
                </td>
                <td class="bg-gradientlight">
                    <p class="font-weight-bold mb-0"><%= comment.created_at.strftime('%d/%m/%Y') %></p>
                </td>
            </tr>
        </tbody>
    </table>
    <% if can? :create, Comment %>
        <%= form_with model: @comment_son, local: false, :html => {:id => 'comment-form'}  do |f| %>
            <div class="bg-white border-radius-lg mb-2">
                <%= f.hidden_field :post_id, value: comment.post_id %>
                <%= f.hidden_field :comment_id, value: comment.id %>
                <%= f.text_area :content, maxlength: 255, required: true, class: "bg-light form-control", size: "5x1"%>
                <%= f.submit 'Responder', class:'btn btn-sm btn-outline-primary mt-1 mx-1' %>
            </div>
        <% end %>
    <% end %>
    <table class="table table-responsive d-flex bg-gradient-light border-radius-lg align-items-center">
        <tbody id="comment-list">
            <% comment.comments.each do |son|%>
                <tr>
                    <td>
                        <%= son.user.email %>:
                    </td>
                    <td>
                        <%= son.content %>
                    </td>
                </tr>   
            <% end %>
        </tbody>
    </table>
<% end %>