<% if user_signed_in?%>
    <h3 class="text-light font-weight-bold"> Avaliar </h3>
    <%= form_with model: @rating, local: false, :html => {:id => 'rate-form'} do |f| %>
        <% (1..5).each do |rating| %>
            <%= f.label :rate, for: "rating_rate_#{rating.to_i}" do %>
                <i id="r<%=rating%>" class="fas fa-star fa-2x"></i>
            <% end %>
            <%= f.radio_button :rate, rating.to_i, class: "display-0", :html => {:id => 'rate-form'} %>
        <% end %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit ('Avaliar'), :class => 'btn btn-sm text-rose bg-white btn-outline-primary' %> 
    <% end %>    
<% end %>
<h5 class="text-white">Avaliação média:</h5>
<span >
    <h5 id="rating-post" class="text-white"> <%= number_with_precision(@average, precision: 1) %></h5>
</span>