<div class="container mt-9" style="margin-bottom: 10%">
    <div class="card fill mb-3 z-index-2 bg-gradient-light">
        <!-- POST IMG -->
        <div class="responsive-1 shadow-primary border-radius-lg page-header p-0 mt-n4 mx-4 z-index-2 bg-transparent">
                <%= image_tag @post.image.variant(resize_to_fill:[nil,380], quality: 100, extent: nil) %>
        </div>
        <!-- POST TXT -->
        <div class="card-body container text-dark py-1 px-3">
            <div class="my-5" style="width: 95%; text-align: center;">
                <h2 class="card-text text-rose my-3"><%= @post.name %></h2>
            </div>
            <div class="container pl-5">
                <p class="card-text" style="font-size: 18px;"><%= @post.content %>.</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="card-footer bottom-0" :last-child>
                    <small class="text-muted"><%= @post.created_at.strftime('%d/%m/%Y') %></small>
                </div>
            </div>
        </div>
    </div>
    <div >
        <%= render 'rate', rating: @ratings %>
    </div>
    <h2 class="text-light">Comentários</h2>
    <% if user_signed_in?%>
            <%= render partial: 'form' %>
    <% end %>
    <div id="comment-list">
        <%= render "comments", comments: @comments %>
    </div>
</div>
