<div class="container mt-12">
    <div class="card fill mb-3 z-index-2 bg-gradient-light">
        <!-- POST IMG -->
        <div class="card-header shadow-primary border-radius-lg pe-1 page-header p-0 position-relative mt-n4 mx-8 z-index-2 bg-transparent" style="width:1010px; height:400px;">
                <%= image_tag @post.image.variant(saver: { quality: 10 }, resize_to_fill: [1010, 400]) %>
        </div>
        <!-- POST TXT -->
        <div class="card-body container text-dark py-1 px-3">
            <div class="my-5" style="width: 95%; text-align: center;">
                <h2 class="card-text text-rose my-3"><%= @post.name %></h2>
            </div>
            <div class="container pl-5">
                <p class="card-text" style="font-size: 18px;"><%= @post.content %>.</p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="card-footer bottom-0" :last-child>
                    <small class="text-muted"><%= @post.created_at %></small>
                </div>
            </div>
        </div>
    </div>
    <div >
        <% if user_signed_in?%>
            <%= render 'rate', rating: @ratings %>
        <% end %>
    </div>
    <h2 class="text-light">Comentários</h2>
    <% if user_signed_in?%>
            <%= render partial: 'form' %>
    <% end %>
    <div id="comment-list">
        <%= render "comments", comments: @comments %>
    </div>
</div>
