<div class="card-body">
    <%= form_with model: @post do |form| %>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Usuário : <%= @post.user.email %> </p>
            <label class=""></label>
        </div>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Imagem : </p>
            <label class=""></label>
            <%= form.file_field :image %>
        </div>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Nome : </p>
            <label class=""></label>
            <%= form.text_area :name, maxlength: 16, class: "bg-light form-control" %>
        </div>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Resumo : </p>
            <label class=""></label>
            <%= form.text_area :summary, maxlength: 255, class: "bg-light form-control", size: "60x10" %>
        </div>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Conteúdo : </p>
            <label class=""></label>
            <%= form.text_area :content, maxlength: 5000, class: "bg-light form-control", size: "60x10" %>
        </div>
        <div class="input-group input-group-outline mb-3">
            <p class="text-rose m-2 font-weight-bold">  Categorias : </p>
            <label class=""></label>
            <ul>
              <% @categories.each do |category| %>
                    <li>
                        <%= check_box_tag 'category_ids[]', category.id, @post_cats.filter { |a| a.category_id == category.id }.present? -%>
                        <%= h category.name -%>
                    </li>
                <% end %>
                </ul>
        </div>
        <div class="text-center">
            <%= form.submit 'Salvar', class: "btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" %>
            <%= link_to 'Cancelar', posts_path, class: "bg-light btn btn-lg btn-outline-primary text-primary btn-lg w-100 mt-4 mb-0" %>
        </div>
    <% end %>
</div>