<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  </head>

  <body class="g-sidenav-show bg-dark">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-light bg-white" id="sidenav-main">
      <div>
        <div class="sidenav-header">
          <i class="fas fa-times p-3 cursor-pointer text-rose position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
          <a class="navbar-brand m-0">
            <span class="ms-1 font-weight-bold text-dark">Blog</span>
          </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-dark " href="/">
                <span class="nav-link-text ms-1">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark <%= controller_name == 'categories' ? 'active bg-gradient-primary' : '' %>  " href="/categories">
                <span class="nav-link-text ms-1">Categorias</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark <%= controller_name == 'roles' ? 'active bg-gradient-primary' : '' %>  " href="/roles">
                <span class="nav-link-text ms-1">Roles</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark <%= controller_name == 'posts' ? 'active bg-gradient-primary' : '' %>  " href="/posts">
                <span class="nav-link-text ms-1">Posts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark <%= controller_name == 'comments' ? 'active bg-gradient-primary' : '' %>  " href="/comments">
                <span class="nav-link-text ms-1">Comments</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark <%= controller_name == 'users' ? 'active bg-gradient-primary' : '' %>  " href="/users">
                <span class="nav-link-text ms-1">Users</span>
              </a>
            </li>
            <li class="nav-item container">
              <div class="text-rose">
                Logado: <strong><%= current_user.email %></strong>.
              </div>
              <li class="nav-item container">
                  <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'btn btn-outline-primary text-rose navbar-link' %>
              </li>
                <li class="nav-item container">
                  <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-primary text-rose navbar-link'  %>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="nav-item d-xl-none ps-3 d-flex top-side-right">
        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
          <div class="sidenav-toggler-inner">
            <i class="fa fa-bars circle-icon primary"></i>
          </div>
        </a>
      </div>
      <div class="mx-4">
        <% if notice %>
          <p class="alert alert-primary text-white"><%= notice %></p>
        <% end %>
        <% if alert %>
            <p class="alert alert-primary text-white"><%= alert %></p>
        <% end %>
      </div>
      <div class=" fill">
        <div class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
          <div style="container-fluid mb-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
