<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="./assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    <%# <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> %>
  </head>

  <body class="bg-gradient-secondary">
    <header class="container-flex">
      <!-- NAVBAR -->
        <nav class="bg-gradient-light navbar fixed-top navbar-expand-lg shadow-none" id="navbarBlur" navbar-scroll="true">
          <div class="container-fluid nav nav-tabs-responsive">
          <!-- LEFT SIDE -->
            <%= link_to 'Home', root_path, class: "text-rose btn btn btn-outline-primary font-weight-bold text-xs m-2" %>
            <% if user_signed_in? %>
              <% if can? :read, Category %>
                <%= link_to 'Category', categories_path, class: "text-rose btn btn btn-outline-primary font-weight-bold text-xs m-2" %>
              <% end %>
              <% if can? :manage, Role %>
                <%= link_to 'Role', roles_path, class: "text-rose btn btn btn-outline-primary font-weight-bold text-xs m-2" %>
              <% end %>
              <% if can? :read, Post %>
                <%= link_to 'Post', posts_path, class: "text-rose btn btn btn-outline-primary font-weight-bold text-xs m-2" %>
              <% end %>
            <% end %>
          <!-- SEARCH BAR -->
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                  <div class="input-group input-group-outline focused is-focused">
                    <label class="form-label">Procure aqui</label>
                    <input type="text" class="form-control" onfocus="focused(this)" onfocusout="defocused(this)">
                  </div>
                </div>
          <!-- RIGHT SIDE -->
                <ul class="ms-md-auto navbar-nav  justify-content-end">
                  <li class="nav-item d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-rose font-weight-bold px-0" href="/perfil">
                      <i class="fa fa-user me-sm-1"></i>
                      <div>
                          <% if user_signed_in? %>
                            Logado como: <strong><%= current_user.email %></strong>.
                            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'btn btn-outline-primary text-rose navbar-link' %> |
                            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-primary text-rose navbar-link'  %>
                          <% else %>
                            <%= link_to "Registrar-se", new_user_registration_path, :class => 'btn btn-outline-primary text-rose navbar-link'  %> |
                            <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-primary text-rose navbar-link'  %>
                          <% end %>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item px-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-rose p-0">
                      <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
    </header> 
    <div class="mt-7 mx-4">
      <% if notice %>
        <p class="alert alert-primary text-white"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-primary text-white"><%= alert %></p>
      <% end %>
    </div>
    <div class=" fill">
      <div class="mt-8">
        <%= yield %>
      </div>
    </div>
    <footer class="align-bottom text-dark bg-gradient-light border-top border-primary">
      <!-- FOOTER CONTENT -->
        <div class="container-fluid py-2">     
          <div class="card-body position-relative z-index-1 p-3">
                <!-- FOOTER BTN RIGHT -->
                  <p class="float-end mb-1 btn-outline-primary">
                    <a class="font-weight-bold btn btn-outline-primary text-primary" href="#">Back to top</a>
                  </p>
                <!-- FOOTER TXT LEFT -->
                  <p class="mb-1">Album example is © Bootstrap, but please download and customize it for yourself!</p>
                  <p class="mb-0">New to Bootstrap? <a class="font-weight-bold text-primary" target="_blank" href="/">Visit the homepage</a> or read our <a class="font-weight-bold text-primary" target="_blank" href="/docs/5.1/getting-started/introduction/">getting started guide</a>.</p>
          </div>
        </div>
    </footer>
  </body>
</html>
